<script setup lang="ts">
const model = defineModel()
</script>

<template>
  <div class="about">
    <h1>This is an about page</h1>
    <input type="text" v-model="model">
    <div class="model-text" v-if="model">
      {{ model }}
    </div>
  </div>
</template>

<style scoped>
.model-text {
  font-size: 14px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  margin-block-start: 1rem;
}
</style>