<script setup lang="ts">
import { ref } from 'vue'

const count = ref(0)
</script>

<template>
  <main>
    <h1>Hola mundo</h1>
    <button @click="count++">Increment ({{ count }})</button>
  </main>
</template>

<style scoped>
button {
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background: white;
  border: 0;
  transition: transform .150s ease;
}

button:active {
  transform: scale(.8);
}
</style>